DirectoryIndex index.php index.html
RewriteEngine on

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 
#php_value upload_max_filesize 1024M
#php_value post_max_size 1024M
#php_value max_execution_time 600
#php_value max_input_time 600
